.borderNav{
    border: 1px solid #a5a5a5;
}

.img {
    width: 40px;
    height: 40px;
}

.borderBot{
    border-bottom: 1px solid #a5a5a5;
}

[data-tooltip] {
    position: relative;
    font-weight: bold;
  }
  
  [data-tooltip]:after {
    display: none;
    position: absolute;
    top: -5px;
    padding: 5px;
    border-radius: 3px;
    left: calc(100% + 2px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #0095ff;
    color: White;
    z-index: 999;
  }
  
  [data-tooltip]:hover:after {
    display: block;
  }