.bgChat {
    background: url('/assets/images/bgwpp.jpg');
    height: 76vh;
    overflow-y:scroll;
}

.imagePeople {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
  
.styleOfImgPeople {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    }

.MySendedMessage {
    align-self: flex-start;
    flex-direction: column;
    background-color: #defece;
    text-align: start;
}
  
.MessageReceived {
    align-self: flex-end;
    flex-direction: column;
    background-color: #e5ddd5;
    text-align: end;
}
  
.inputMessage {
    display: flex;
    flex-direction:row;
}
  
.emojiIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}
  