.bgPage {
  background: linear-gradient( to top, white 0%, white 84%, #00a884 13%, #00a884 100% );
  width: 100%;
  }
  
.bgMessage{
  z-index: 999;
  background-color: #f0f2f5;
  margin: 20px;
  height: 97%;
  border: 1px solid #a5a5a5;
}
  
.alignBgMessage{
  display: flex;
  justify-content: center;
  height: 90vh;
}
  
.divisor{
  border-right: 1px solid #a5a5a5;
}
    
    
    